<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2005-2023. Cloud Software Group, Inc. All Rights Reserved.
  ~ http://www.jaspersoft.com.
  ~
  ~ Unless you have purchased a commercial license agreement from Jaspersoft,
  ~ the following license terms apply:
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<settings>
  <!--
    SECURITY / AVAILABILITY FIX:
    The previous configuration mirrored *every* artifact through
    http://mvnrepo.jaspersoft.com/artifactory/repo which

      * is served over plain HTTP  -> dependencies could be silently replaced
        by anyone on the network path (OWASP A08 - Software and Data Integrity
        Failures), and
      * no longer resolves at all  -> the build cannot download anything.

    It is replaced by explicit HTTPS repositories: Maven Central for the
    third-party dependencies and the public Jaspersoft Artifactory for the
    Jaspersoft-published artifacts. No wildcard mirror is used, so a
    compromised/removed host cannot transparently serve every artifact.
  -->
  <profiles>
    <profile>
      <id>jasperserver-repositories</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <repository>
          <id>jaspersoft-repo</id>
          <url>https://jaspersoft.jfrog.io/artifactory/jaspersoft-repo</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>jaspersoft-repo</id>
          <url>https://jaspersoft.jfrog.io/artifactory/jaspersoft-repo</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jasperserver-repositories</activeProfile>
  </activeProfiles>
</settings>
